In [90]:
import pandas as pd
import numpy as np

Dictionary dataFrame

In [91]:
nhap_danhsach ={
    "STT": [1, 2, 3, 4],
    "Họ và tên":  ['Thiên Văn Chức', 'Lỗ Chí', 'Trần Nhất Thời','Tôn Khống Tước'],
    'Toán': [8, 6, 2, 8],
    'Lý': [9, 5, 10, 6],
    'Hóa': [10, 2, 8, 7],
}

In [92]:
nhap_danhsach

{'STT': [1, 2, 3, 4],
 'Họ và tên': ['Thiên Văn Chức',
  'Lỗ Chí',
  'Trần Nhất Thời',
  'Tôn Khống Tước'],
 'Toán': [8, 6, 2, 8],
 'Lý': [9, 5, 10, 6],
 'Hóa': [10, 2, 8, 7]}

In [93]:
# Tạo ra danh sách thi (danhsach)
danhsach = pd.DataFrame(nhap_danhsach)
danhsach

   STT        Họ và tên  Toán  Lý  Hóa
0    1    Thiên Văn Chức      8    9    10
1    2           Lỗ Chí      6    5     2
2    3  Trần Nhất Thời      2   10     8
3    4   Tôn Khống Tước      8    6     7

In [94]:
# Thêm cột "Tổng" và tính tổng số điểm
danhsach['Tổng']=danhsach['Toán'] + danhsach['Lý'] + danhsach['Hóa']
danhsach

   STT        Họ và tên  Toán  Lý  Hóa  Tổng
0    1    Thiên Văn Chức      8    9    10     27
1    2           Lỗ Chí      6    5     2     13
2    3  Trần Nhất Thời      2   10     8     20
3    4   Tôn Khống Tước      8    6     7     21

In [95]:
# Tạo bảng các môn thi
mon_thi = pd.DataFrame(danhsach, columns= ['Toán', 'Lý', 'Hóa'])
mon_thi

   Toán  Lý  Hóa
0      8    9    10
1      6    5     2
2      2   10     8
3      8    6     7

In [96]:
# Số môn thi (bằng tổng số cột trong danh sách môn thi)
So_mon = len(mon_thi.columns)
So_mon

3

In [97]:
# Thêm cột "Trung Bình" và tính số điểm trung bình
danhsach['Trung Bình']= danhsach['Tổng'] / So_mon
danhsach

   STT        Họ và tên  Toán  Lý  Hóa  Tổng  Trung Bình
0    1    Thiên Văn Chức      8    9    10     27     9.000000
1    2           Lỗ Chí      6    5     2     13     4.333333
2    3  Trần Nhất Thời      2   10     8     20     6.666667
3    4   Tôn Khống Tước      8    6     7     21     7.000000

In [98]:
# Cách xem dữ liệu cột reung bình
danhsach['Trung Bình']

0    9.000000
1    4.333333
2    6.666667
3    7.000000
Name: Trung Bình, dtype: float64

In [99]:
#Thêm cột kết quả: Xét người có điểm TB > 5 thì đậu
danhsach['Kết Quả'] =np.where(danhsach['Trung Bình']>5,"Đậu","") 
danhsach

   STT        Họ và tên  Toán  Lý  Hóa  Tổng  Trung Bình Kết Quả
0    1    Thiên Văn Chức      8    9    10     27     9.000000      Đậu
1    2           Lỗ Chí      6    5     2     13     4.333333
2    3  Trần Nhất Thời      2   10     8     20     6.666667      Đậu
3    4   Tôn Khống Tước      8    6     7     21     7.000000      Đậu