In [1]:
import pandas as pd

Dictionary dataFrame

In [2]:
dic_data ={
    "STT": [1, 2, 3, 4],
    "Họ và tên":  ['Thiên Văn Chức', 'Lỗ Chí', 'Trần Nhất Thời','Tôn Khống Tước'],
    'Toán': [8, 6, 2, 5],
    'Lý': [9, 5, 10, 6],
    'Hóa': [6, 10, 8, 7],
}

In [3]:
dic_data

{'STT': [1, 2, 3, 4],
 'Họ và tên': ['Thiên Văn Chức',
  'Lỗ Chí',
  'Trần Nhất Thời',
  'Tôn Khống Tước'],
 'Toán': [8, 6, 2, 5],
 'Lý': [9, 5, 10, 6],
 'Hóa': [6, 10, 8, 7]}

In [4]:
df = pd.DataFrame(dic_data)
df

   STT        Họ và tên  Toán  Lý  Hóa
0    1    Thiên Văn Chức      8    9     6
1    2           Lỗ Chí      6    5    10
2    3  Trần Nhất Thời      2   10     8
3    4   Tôn Khống Tước      5    6     7

Series

In [5]:
a = [1,5,10]

In [6]:
da = pd.Series(a)
da

0     1
1     5
2    10
dtype: int64

In [7]:
my_da = pd.DataFrame(da, index=dic_data)
my_da

              0
STT         NaN
Họ và tên NaN
Toán       NaN
Lý         NaN
Hóa        NaN

In [8]:
series_df = df.values
series_df

array([[1, 'Thiên Văn Chức', 8, 9, 6],
       [2, 'Lỗ Chí', 6, 5, 10],
       [3, 'Trần Nhất Thời', 2, 10, 8],
       [4, 'Tôn Khống Tước', 5, 6, 7]], dtype=object)